################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Chip8VS.vcxproj.user
/Chip8VS.vcxproj.filters
/Chip8VS.vcxproj
/Chip8VS.sln
